[data-theme="bearded-arc"] {
  --main-bg: rgb(30, 36, 50);
  --bg-text: rgb(58, 66, 85);
  --text-color: rgb(209, 213, 221);
  --accent-color: rgb(133, 149, 178);
  --titlebar-bg: rgb(16, 62, 166);
  --header-bg: rgb(18, 22, 30);
  --header-hover-bg: rgb(30, 36, 50);
  --explorer-bg: rgb(25, 31, 43);
  --explorer-hover-bg: rgb(34, 41, 57);
  --explorer-border: rgb(18, 22, 30);
  --tab-bg: rgb(25, 31, 43);
  --tab-active-bg: rgb(30, 36, 50);
  --tab-border: rgb(24, 29, 40);
  --tab-border-active: rgb(133, 149, 178);
  --bottombar-bg: rgb(25, 31, 43);
  --bottombar-border: rgb(21, 27, 37);
  --button-bg: rgb(120, 232, 143);
  --button-text: rgb(151, 157, 171);
  --bottombar-hover-bg: rgb(152, 159, 170);
}
